@model Lesson2.Models.NewViewModel

<form asp-controller="Testing" asp-action="NewInput" method="post">
    Email:  <input asp-for="Email" /> <br />
    Password: <input asp-for="Password" /><br />
    <button type="submit">SUBMIT</button>
</form>
